# Виртуальные окружения
venv/
ENV/
env/
.venv/

# Файлы конфигурации и ключи
.env
*.env
config.py

# Логи
*.log

# Артефакты сборки
build/
dist/
*.egg-info/

# Кэш и временные файлы
__pycache__/
*.pyc

# Папки редакторов
.vscode/
.idea/
